<!doctype html>
<head>
<meta charset="utf-8">
        <title>test1 reading</title>
        <link rel="stylesheet" type="text/css" href="semantic/semantic.css">
<!--        <link rel="stylesheet" type="text/css" href="styles/style.css">-->
       
</head>

<style>
    #top{width: 100%; height: 10%; background-color: antiquewhite}
    #middle{width: 100%; height: 80%; background-color: aqua}
    #bottom{width: 100%; height: 10%; background-color: red}
    #top1{width: 50%; height: 100%; background-color: aquamarine; float: left}
    #top2{width: 50%; height: 100%; background-color:azure; float: right}
    #top2_1{width: 50%; height: 100%; background-color: blue; float: right}
    .li{text-decoration-line: line-through}
</style>

<body>
<div id="top">
    <div id="top1">
    </div>
    <div id="top2">
        <div id="top2_1">
        <button type="button" class="ui primary button" onclick="location.href='test2.html'">
        CONTINUE 
        </button>
        </div> 
    </div>
</div>
<div id="middle">
   <center>
            <h1>General Test Information</h1>
            <h2>This Sampler will familiarize you with most of the question types found on the TOEFL iBT test.</h2>
            <ui>
                <li>글</li>
                <li>글</li>
                <li>글</li>
                <li>글</li>
            </ui>
        </center>
</div>
<div id="bottom">
    <center>
        <h2>Click Continue to go on</h2>
    </center>
</div>
</body>