<!doctype html>
<head>
<meta charset="utf-8">
        <title>test1 reading</title>
        <link rel="stylesheet" type="text/css" href="semantic/semantic.css">
<!--        <link rel="stylesheet" type="text/css" href="styles/style.css">-->
       
</head>

<style>
    #top{width: 100%; height: 10%; background-color: antiquewhite}
    #middle{width: 100%; height: 80%; background-color: aqua}
    #bottom{width: 100%; height: 10%; background-color: red}
    #top1{width: 50%; height: 100%; background-color: aquamarine; float: left}
    #top2{width: 50%; height: 100%; background-color:azure; float: right}
    #top2_1{width: 50%; height: 100%; background-color: blue; float: right}
    .li{text-decoration-line: line-through}
</style>

<body>
<div id="top">
    <div id="top1">
    </div>
    <div id="top2">
        <div id="top2_1">
        <button type="button" class="ui primary button" onclick="location.href='test3.html'">
        CONTINUE
        </button>
        </div>
    </div>
</div>
<div id="middle">
   <center>
            <h1>Reading Section Directions</h1>
            <h2>The Reading section of the TOEFL iBT test measures your ability to understand academic passages written in English.</h2>
            <h3>글</h3>
        </center>
</div>
<div id="bottom">
    <center>
        <h2>Click Continue to go on</h2>
    </center>
</div>
</body>