<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		
		<title>홈 화면입니다.</title>
		
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    	<link href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css" rel='stylesheet' type="text/css">
    	<style>
			* {font-family: 'spoqa Han Sans', 'Sans-serif';}
        	body { padding-top:80px; }
        	h1, p, a { font-family: 'Nanum Gothic' }
    	</style>
    
	</head>
	<body>
		<div class="container">
		    <div class="jumbotron text-center">
		        <h1><span class="fa fa-shopping-cart"></span> TOEFL SIMULATOR HOME</h1>
				<br>
		                	
						<br>
					<br>
			        <a href="/payment" class="btn btn-default"><span class="fa fa-user"></span>결재하기</a>
					<a href="/logout" class="btn btn-default"><span class="fa fa-user"></span>로그아웃</a>
					<p>로그인하세요.<p>
					<p>계정이 없으시면 회원가입하세요.</p>
					<br>
			        <a href="/loginadmin" class="btn btn-default"><span class="fa fa-user"></span>로그인</a>
			        <a href="/signupadmin" class="btn btn-default"><span class="fa fa-user"></span>회원가입</a>
					<br>
				
		    </div>
		
		</div>
	</body>
</html>