<!doctype html>
<html>
    <head>
    <meta charset="utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="stylesheet" type="text/css" href="Semantic/semantic.min.css">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.js"
      integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
      crossorigin="anonymous"></script>    
        
    <script src="Semantic/semantic.min.js"></script>  
    <script src="ckeditor/ckeditor.js"></script>    
	<script src="AddSpeaking.js"></script>
    
	<style>
    
	 body{
            margin: 15px;
           
        }
		
        .ui.inverted.menu {
                height: 100px;
            
              } 

        .ui.blue.button {
            float: inherit;
        };
        
        </style>     
   

     
    </head>


         <body onload=startTime()>
            <div class="ui blue borderless inverted menu">
          <div class="left menu">
            <a class="item">
              <h1>Toefl Simulator<br></h1> <br><br> <h4>for Teachers</h4>   
              </a>
            </div>      
        <div class="centered menu">  
            
          <a class="item">
           
            <i class="huge github icon"></i>
            </a>
  
        </div>     
        <div class="right menu">
        <a class="item" id="clock"> </a>    
       
    <div class="ui dropdown item">
      <i class="user icon"></i>하인철 선생님 <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">profile</a>
        <a class="item">Logout</a>
            </div>
        </div>    
     </div>   
    </div>

          <div>
          <div class="ui huge breadcrumb">
          <a class="section">문제출제하기</a>
          <i class="right chevron icon divider"></i>
          <div class="active section">Speaking</div>
           <i class="right chevron icon divider"></i>  
      
    
        </div>
              <button class="teal ui right floated button" id="sp_chapter_complete_btn">챕터 완료</button>
         </div>
             
             
        <br>
             <br>
    
         <div class="ui top attached tabular blue six item  menu">
          <a class="active item" data-tab="first" id="menu_ch_1">
           Chapter 1
          </a>
          <a class="active item" data-tab="second" id="menu_ch_2">
            Chapter 2
          </a>
          <a class="active item" data-tab="third" id="menu_ch_3">
            Chapter 3
          </a>
         <a class="active item" data-tab="fourth" id="menu_ch_4">
            Chapter 4
          </a>        
          <a class="active item" data-tab="fifth" id="menu_ch_5">
            Chapter 5
          </a>
          <a class="active item" data-tab="sixth" id="menu_ch_6">
            Chapter 6
          </a>
            </div>    
    
          
        <div class="ui tab segment" data-tab="first" id="chapter1">
            <form class="ui large form" action="/process/multer/addspeaking" id="speakingForm1" method="post" enctype="multipart/form-data">
              <div class="field">

             <div class="ui blue ribbon big label">
                <i class="spoon icon"></i> Personal Preference
            </div>
          
                  
<!--
                <div class="ui tag labels">
                  <a class="ui top big blue label">
                    Personal Preference
                  </a>  
                </div>
-->
             <h3 class="ui header">Personal Preference 에 관련된 문제를 입력해주세요  </h3>     
                  
          <div class="ui input  focus">  
            <input type="text" name="first-name" placeholder="ex) What is your... / Describe a unique about...">
        </div>   
          

              </div>
                
                
              <div class="field">
                <h3 class="ui header">이 파트와 관련있는 mp3 파일을 올려주세요  
                  
                  </h3>       
      
            <br>  
              <label for="sp_ch_1_mp3_ipt" class="ui icon button">
                 <i class="file icon"></i>
                Open mp3 File</label>
            <input type="file" id="sp_ch_1_mp3_ipt" style="display:none" accept="audio/*" multiple>
            <div id="sp_ch_1_mp3_pre">  
              </div>   

               
              </div>
              
               <button class="ui blue button" type="submit">Submit</button>
            </form>
        
<!--
     15초의 준비시간, 45초의 응답시간 
    fs.write  no img, just announcement audio 필요 
-->

<!--
      <input type="hidden" name="ExamNO" value=<%= ExamNO %>>
      <input type="hidden" name="ExamDesc" value=<%= ExamDesc %>>        
-->
      
      
   
 
        </div>

              <div class="ui tab segment" data-tab="second" id="chapter2">
            
              <form class="ui large form" action="/process/multer/addspeaking" id="speakingForm1" method="post" enctype="multipart/form-data">
              <div class="field">
                  
            <div class="ui blue ribbon big label">
                <i class="spoon icon"></i> Paired Choice
            </div>  

<!--
                <div class="ui tag labels">
                  <a class="ui top big blue label">
                    Paired Choice
                  </a>  
                </div>
-->
             <h3 class="ui header">Paired Choice 에 관련된 문제를 입력해주세요  </h3>     
                  
          <div class="ui input fluid focus">  
            <input type="text" name="first-name" placeholder="Some people prefer to hear...">
        </div>   
          

              </div>
                
                
              <div class="field">
                <h3 class="ui header">이 파트와 관련있는 mp3 파일을 올려주세요  </h3>       
                         <label for="sp_ch_2_mp3_ipt" class="ui icon button">
                 <i class="file icon"></i>
                Open mp3 File</label>
            <input type="file" id="sp_ch_2_mp3_ipt" style="display:none" accept="audio/*" multiple>
            <div id="sp_ch_2_mp3_pre">  
              </div>   

                
              </div>
              
              <button class="ui blue button" type="submit">Submit</button>
            </form>
        

                
              </div>
   

            <div class="ui tab segment" data-tab="third" id="chapter3">
            <form class="ui form" action="/process/multer/addspeaking" id="speakingForm1" method="post" enctype="multipart/form-data">
              <div class="field">

            <div class="ui blue ribbon big label">
                <i class="spoon icon"></i>  Situational Fit and Explain
            </div>  
<!--
                <div class="ui tag labels">
                  <a class="ui top big blue label">
                    Situational Fit and Explain
                  </a>  
                </div>
-->
                  
                  
        <h3 class="ui header">문제를 소개하는 Narrator mp3 파일을 올려주세요  </h3>       
        <label for="sp_ch_3_mp3_ipt" class="ui icon button">
            <i class="file icon"></i>
            Open mp3 File</label>
            <input type="file" id="sp_ch_3_mp3_ipt" style="display:none" accept="audio/*" multiple>
            <div id="sp_ch_3_mp3_pre">  
              </div>             
                  
     

              </div>
                
                
              <div class="field">
    
        <h3 class="ui header"> 출제될 공지사항 or 발표문을 작성해 주세요   </h3>     <textarea name="editor2" id="editor2"></textarea>
                  
       
          
                
              </div>
              
             <div class="field">
        
        <h3 class="ui header"> conversation mp3/img 파일 업로드하기   </h3>      
            <label for="sp_ch_3_img_ipt" class="ui icon button">
                 <i class="file icon"></i>
                Open img File</label>
            <input type="file" id="sp_ch_3_img_ipt" style="display:none" accept="image/*" multiple>
            <div id="sp_ch_3_img_pre">
            </div> 
            <br>
            <br>  
              <label for="sp_ch_3_1_mp3_ipt" class="ui icon button">
                 <i class="file icon"></i>
                Open mp3 File</label>
            <input type="file" id="sp_ch_3_1_mp3_ipt" style="display:none" accept="audio/*" multiple>
            <div id="sp_ch_3_1_mp3_pre">  
              </div>   
                
                
                
                </div>                                
             
            <div class='field'>
                <h3 class="ui header"> 문제 출제하기  </h3>   
                <input type="text" class="ui input" placeholder="문제를 입력해 주세요 ">
                
                </div>    
                
                
                                
                                
              <button class="ui blue button" type="submit">Submit</button>
            </form>  
            
   
        

                
        </div>    

              <div class="ui tab segment" data-tab="fourth" id="chapter4">
           <form class="ui form" action="/process/multer/addspeaking" id="speakingForm1" method="post" enctype="multipart/form-data">
              <div class="field">

<!--
                <div class="ui tag labels">
                  <a class="ui top big blue label">
                    Academic, General / Specific
                  </a>  
                </div>
-->
            <div class="ui blue ribbon big label">
                <i class="spoon icon"></i>  Academic, General / Specific
            </div>                    
                  
        <h3 class="ui header">문제를 소개하는 Narrator mp3 파일을 올려주세요  </h3>       
        <label for="sp_ch_4_mp3_ipt" class="ui icon button">
            <i class="file icon"></i>
            Open mp3 File</label>
            <input type="file" id="sp_ch_4_mp3_ipt" style="display:none" accept="audio/*" multiple>
            <div id="sp_ch_4_mp3_pre">  
              </div>             
                  
     

              </div>
                
                
              <div class="field">
    
        <h3 class="ui header"> 읽을 지문 작성하기 </h3>     <textarea name="editor3" id="editor3"></textarea>
                  
       
          
                
              </div>
              
             <div class="field">
        
        <h3 class="ui header"> Lecture mp3/img 파일 업로드하기   </h3>      
            <label for="sp_ch_4_img_ipt" class="ui icon button">
                 <i class="file icon"></i>
                Open img File</label>
            <input type="file" id="sp_ch_4_img_ipt" style="display:none" accept="image/*" multiple>
            <div id="sp_ch_4_img_pre">
            </div> 
            <br>
            <br>  
              <label for="sp_ch_4_1_mp3_ipt" class="ui icon button">
                 <i class="file icon"></i>
                Open mp3 File</label>
            <input type="file" id="sp_ch_4_1_mp3_ipt" style="display:none" accept="audio/*" multiple>
            <div id="sp_ch_4_1_mp3_pre">  
              </div>   
                
                
                
                </div>                                
             
            <div class='field'>
                <h3 class="ui header">  문제 입력하기   </h3>   
                <input type="text" class="ui input" placeholder="문제를 입력해 주세요 ">
                
                </div>    
                
                
                                
                                
              <button class="ui blue button" type="submit">Submit</button>
            </form>  
            
        </div>    

            <div class="ui tab segment" data-tab="fifth" id="chapter5">
               <form class="ui form" action="/process/multer/addspeaking" id="speakingForm1" method="post" enctype="multipart/form-data">
              <div class="field">
           
            <div class="ui blue ribbon big label">
                <i class="spoon icon"></i>  Problem Solution
            </div>           
<!--
                <div class="ui tag labels">
                  <a class="ui top big blue label">
                    Problem Solution
                  </a>  
                </div>
-->
                  
                  
                  
        <h3 class="ui header">문제를 소개하는 Narrator mp3 파일을 올려주세요  </h3>       
        <label for="sp_ch_5_mp3_ipt" class="ui icon button">
            <i class="file icon"></i>
            Open mp3 File</label>
            <input type="file" id="sp_ch_5_mp3_ipt" style="display:none" accept="audio/*" multiple>
            <div id="sp_ch_5_mp3_pre">  
              </div>             
                  
     

              </div>
                
              
             <div class="field">
        
        <h3 class="ui header"> conversation mp3/img 파일 업로드하기   </h3>      
            <label for="sp_ch_5_img_ipt" class="ui icon button">
                 <i class="file icon"></i>
                Open img File</label>
            <input type="file" id="sp_ch_5_img_ipt" style="display:none" accept="image/*" multiple>
            <div id="sp_ch_5_img_pre">
            </div> 
            <br>
            <br>  
              <label for="sp_ch_5_1_mp3_ipt" class="ui icon button">
                 <i class="file icon"></i>
                Open mp3 File</label>
            <input type="file" id="sp_ch_5_1_mp3_ipt" style="display:none" accept="audio/*" multiple>
            <div id="sp_ch_5_1_mp3_pre">  
              </div>   
                
                
                
                </div>                                
             
            <div class='field'>
                <h3 class="ui header"> conversation mp3/img 파일 업로드하기   </h3>   
                <input type="text" class="ui input" placeholder="문제를 입력해 주세요 ">
                
                </div>    
                
                
                                
                                
              <button class="ui blue button" type="submit">Submit</button>
            </form>  
            
        


        </div>    

         <div class="ui tab segment" data-tab="sixth" id="chapter6">
            <form class="ui form" action="/process/multer/addspeaking" id="speakingForm1" method="post" enctype="multipart/form-data">
              <div class="field">

<!--
                <div class="ui tag labels">
                  <a class="ui top big blue label">
                    Academic Summary
                  </a>  
                </div>
-->
                  
            <div class="ui blue ribbon big label">
                <i class="spoon icon"></i> Academic Summary
            </div>                      
                  
        <h3 class="ui header">문제를 소개하는 Narrator mp3 파일을 올려주세요  </h3>       
        <label for="sp_ch_6_mp3_ipt" class="ui icon button">
            <i class="file icon"></i>
            Open mp3 File</label>
            <input type="file" id="sp_ch_6_mp3_ipt" style="display:none" accept="audio/*" multiple>
            <div id="sp_ch_6_mp3_pre">  
              </div>             
                  
     

              </div>
                
                
              <div class="field">
    
        <h3 class="ui header">Paired Choice 에 관련된 문제를 입력해주세요  </h3>     <textarea name="editor5" id="editor5"></textarea>
                  
       
          
                
              </div>
              
             <div class="field">
        
        <h3 class="ui header"> Lecture mp3/img 파일 업로드하기   </h3>      
            <label for="sp_ch_6_img_ipt" class="ui icon button">
                 <i class="file icon"></i>
                Open img File</label>
            <input type="file" id="sp_ch_6_img_ipt" style="display:none" accept="image/*" multiple>
            <div id="sp_ch_6_img_pre">
            </div> 
            <br>
            <br>  
              <label for="sp_ch_6_1_mp3_ipt" class="ui icon button">
                 <i class="file icon"></i>
                Open mp3 File</label>
            <input type="file" id="sp_ch_6_1_mp3_ipt" style="display:none" accept="audio/*" multiple>
            <div id="sp_ch_6_1 _mp3_pre">  
              </div>   
                
                
                
                </div>                                
             
            <div class='field'>
                <h3 class="ui header"> conversation mp3/img 파일 업로드하기   </h3>   
                <input type="text" class="ui input" placeholder="문제를 입력해 주세요 ">
                
                </div>    
                
                
                                
                                
              <button class="ui blue button" type="submit">Submit</button>
            </form>  
            
        </div> 		 
			 
		<div class="ui modal" id="go_back_main_modal">
          <i class="close icon"></i>
          <div class="header">
			
  
			  
           메인 화면으로 이동하기
          </div>
          <div class="content">
         
            <div class="description">
              <div class="ui header">
				 
				  문제 출제하기 메인 화면으로 이동합니다.</div>
           
            </div>
          </div>
          <div class="actions">
         
              <button class="ui grey deny button">이전으로</button>
              
              <button class="ui blue button">이동하기</button>
            
          </div>
        </div> 		 		 
			 
			 

</body>
    
    
</html>    