/* RESPONSIVE - SPECIAL TO TRIPLE CAROUSEL */
.multiple.m-triple:not(.m-reponsive-except) .m-carousel-titles,
.multiple.m-triple:not(.m-reponsive-except) .m-nav{
    display: none;
    margin-left: -30000px;
}
.multiple.m-triple:not(.m-reponsive-except) .m-recipient{
    padding-top: 0;
}
.multiple.m-triple:not(.m-reponsive-except) .m-content.m-1-3,
.multiple.m-triple:not(.m-reponsive-except) .m-content.m-2-3,
.multiple.m-triple:not(.m-reponsive-except) .m-content.m-3-3 {
    right: auto;
    left: auto;
    margin-left: 0;
    padding-right: 0;
    width: 100%;
}
.multiple.m-triple.m-topnav:not(.m-reponsive-except) .m-content.m-1-3,
.multiple.m-triple.m-bottomnav:not(.m-reponsive-except) .m-content.m-1-3 {
    margin-left: 0;
}
.multiple.m-triple.m-topnav:not(.m-reponsive-except) .m-content.m-3-3,
.multiple.m-triple.m-bottomnav:not(.m-reponsive-except) .m-content.m-3-3 {
    margin-right: 0;
}
.m-triple:not(.m-reponsive-except) .m-nav.back {
    display: none;
}
.m-triple:not(.m-reponsive-except) .m-nav {
    display:none;
}
.multiple.m-triple:not(.m-reponsive-except) .m-content.m-1-3 .m-block,
.multiple.m-triple:not(.m-reponsive-except) .m-content.m-3-3 .m-block {
    float: none;
    width: 100%;
    left: auto;
}
.m-triple:not(.m-reponsive-except) .m-recipient .m-3-3 .m-track {
    padding-right: 4px;
    padding-left: 0;
    margin-left: 0;
}
.m-triple:not(.m-reponsive-except) .m-recipient .m-1-3 .m-track {
    padding-left: 4px;
    padding-right: 0;
    margin-right: 0;
}
.multiple.m-triple:not(.m-reponsive-except) .m-content.m-1-3 .m-block {
    float: none;
    right: auto;
}
.multiple.m-triple:not(.m-reponsive-except) .m-prev:before,
.multiple.m-triple:not(.m-reponsive-except) .m-next:before{
    color:#666;
}
.multiple.m-triple:not(.m-reponsive-except) .m-prev,
.multiple.m-triple:not(.m-reponsive-except) .m-next{
    display: inline-block !important;
    background: #fff;
    border: 2px solid #ddd;
    padding: 5px;
    z-index: 9000;
    width: 33px;
    height: 30px;
}
.multiple.m-triple:not(.m-reponsive-except) .m-prev{
    left: 0;
}
.multiple.m-triple:not(.m-reponsive-except) .m-next{
    right: 0;
}
.multiple.m-triple:not(.m-reponsive-except) .m-prev:hover,
.multiple.m-triple:not(.m-reponsive-except) .m-prev:focus,
.multiple.m-triple:not(.m-reponsive-except) .m-next:hover,
.multiple.m-triple:not(.m-reponsive-except) .m-next:focus{
    background: #fff;
}
.multiple.m-triple:not(.m-reponsive-except) .m-prev:hover:before,
.multiple.m-triple:not(.m-reponsive-except) .m-next:hover:before {
    color: #000;
}
