<!DOCTYPE html>

<html>
 
	<!--<![endif]-->
	<!--======= Head =========-->
	<head>

		<!--======= Meta =========-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!--======= Title =========-->
		<title> TOEFL SIMULATOR MANGAGEMENT SYSTEM</title>

		<!--======= Short-Cut Icon =========-->
		<link rel="shortcut icon" href="/public/images/star_logo.png" />

		<!--======= Google Web Fonts =========-->
		<link href='https://fonts.googleapis.com/css?family=Roboto:100 ,300,400,500,700,900' rel='stylesheet' type='text/css'>

		<!--======= Awesome Font StyleSheet =========-->
		<link href="/public/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">

		<!--======= Helping Plug-in StyleSheets =========-->
		<link href="/public/css/bootstrap.min.css" rel="stylesheet" media="all">

		<!--======= Responsive Bootstrap Carousel StyleSheet =========-->
		<link href="/public/css/gp_product_carousel_advance.css" rel="stylesheet" media="all">


	<!--======= JavaScript =========-->

	<!--======= jQuery =========-->
	<script src="/public/js/jquery-3.2.1.min.js"></script>

	<!--======= Bootstrap =========-->
	<script src="/public/js/bootstrap.min.js"></script>

	<!--======= Touch Swipe =========-->
	<script src="/public/js/jquery.touchSwipe.min.js"></script>

	<!--======= Customize =========-->
	<script src="/public/js/responsive_bootstrap_carousel.js"></script>


	</head>

<body>

		<!--*-*-*-*-*-*-*-*-*-*- BOOTSTRAP CAROUSEL *-*-*-*-*-*-*-*-*-*-->

		<div id="gp_products_4_columns_carousel" class="carousel slide gp_products_carousel_wrapper" data-ride="carousel" data-interval="2000">

			<div class="gp_products_carousel_header">
				<span align='center'>TOEFL SIMULATOR MANGAGEMENT SYSTEM</span>
			</div>

			<!--========= Wrapper for slides =========-->
			<div class="carousel-inner" role="listbox">

				<!--========= 1st slide =========-->
				<div class="item active">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-3 gp_products_item">
							<div class="gp_products_inner">
								<div class="gp_products_item_image">
									<a href="#">
										<img src="/public/images/flower1.png" alt="gp product 001" />
									</a>
								</div>
								<div class="gp_products_item_caption">
									<ul class="gp_products_caption_name">
										<li><a href="#">Lorem ipsum dolor</a></li>
										<li><a href="#">sz_themes</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-xs-12 col-sm-6 col-md-3 gp_products_item">
							<div class="gp_products_inner">
								<div class="gp_products_item_image">
									<a href="#">
										<img src="/public/images/flower2.png" alt="gp product 002" />
									</a>
								</div>
								<div class="gp_products_item_caption">
									<ul class="gp_products_caption_name">
										<li><a href="#">Lorem ipsum dolor</a></li>
										<li><a href="#">sz_themes</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-xs-12 col-sm-6 col-md-3 gp_products_item">
							<div class="gp_products_inner">
								<div class="gp_products_item_image">
									<a href="#">
										<img src="/public/images/flower3.png" alt="gp product 003" />
									</a>
								</div>
								<div class="gp_products_item_caption">
									<ul class="gp_products_caption_name">
										<li><a href="#">Lorem ipsum dolor</a></li>
										<li><a href="#">sz_themes</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-xs-12 col-sm-6 col-md-3 gp_products_item">
							<div class="gp_products_inner">
								<div class="gp_products_item_image">
									<a href="#">
										<img src="/public/images/flower4.png" alt="gp product 004" />
									</a>
								</div>
								<div class="gp_products_item_caption">
									<ul class="gp_products_caption_name">
										<li><a href="#">Lorem ipsum dolor</a></li>
										<li><a href="#">sz_themes</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--========= 2nd slide =========-->
				<div class="item">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-3 gp_products_item">
							<div class="gp_products_inner">
								<div class="gp_products_item_image">
									<a href="#">
										<img src="/public/images/flower1.png" alt="gp product 005" />
									</a>
								</div>
								<div class="gp_products_item_caption">
									<ul class="gp_products_caption_name">
										<li><a href="#">Lorem ipsum dolor</a></li>
										<li><a href="#">sz_themes</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-xs-12 col-sm-6 col-md-3 gp_products_item">
							<div class="gp_products_inner">
								<div class="gp_products_item_image">
									<a href="#">
										<img src="/public/images/flower2.png" alt="gp product 006" />
									</a>
								</div>
								<div class="gp_products_item_caption">
									<ul class="gp_products_caption_name">
										<li><a href="#">Lorem ipsum dolor</a></li>
										<li><a href="#">sz_themes</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-xs-12 col-sm-6 col-md-3 gp_products_item">
							<div class="gp_products_inner">
								<div class="gp_products_item_image">
									<a href="#">
										<img src="/public/images/flower3.png" alt="gp product 007" />
									</a>
								</div>
								<div class="gp_products_item_caption">
									<ul class="gp_products_caption_name">
										<li><a href="#">Lorem ipsum dolor</a></li>
										<li><a href="#">sz_themes</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-xs-12 col-sm-6 col-md-3 gp_products_item">
							<div class="gp_products_inner">
								<div class="gp_products_item_image">
									<a href="#">
										<img src="/public/images/flower4.png" alt="gp product 008" />
									</a>
								</div>
								<div class="gp_products_item_caption">
									<ul class="gp_products_caption_name">
										<li><a href="#">Lorem ipsum dolor</a></li>
										<li><a href="#">sz_themes</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
				
			<!--======= Navigation Buttons =========-->

			<!--======= Left Button =========-->
			<a class="left carousel-control gp_products_carousel_control_left" href="#gp_products_4_columns_carousel" role="button" data-slide="prev">
				<span class="fa fa-angle-left gp_products_carousel_control_icons" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>

			<!--======= Right Button =========-->
			<a class="right carousel-control gp_products_carousel_control_right" href="#gp_products_4_columns_carousel" role="button" data-slide="next">
				<span class="fa fa-angle-right gp_products_carousel_control_icons" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>

		</div> <!--*-*-*-*-*-*-*-*-*-*- END BOOTSTRAP CAROUSEL *-*-*-*-*-*-*-*-*-*-->
</body>

</html>

 <!--*-*-*-*-*-*-*-*-*-*- End *-*-*-*-*-*-*-*-*-*-->