	<head>

		<!--======= Meta =========-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!--======= Title =========-->
		<title> TOEFL SIMULATOR MANGAGEMENT SYSTEM</title>

		<!--======= Short-Cut Icon =========-->
		<link rel="shortcut icon" href="/public/toeflassets/images/star_logo.png" />

		<!--======= Google Web Fonts =========-->
		<link href='https://fonts.googleapis.com/css?family=Roboto:100 ,300,400,500,700,900' rel='stylesheet' type='text/css'>

		<!--======= Awesome Font StyleSheet =========-->
		<link href="/public/toeflassets/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">

		<!--======= Helping Plug-in StyleSheets =========-->
		<link href="/public/toeflassets/css/bootstrap.min.css" rel="stylesheet" media="all">

		<!--======= Responsive Bootstrap Carousel StyleSheet =========-->
		<link href="/public/toeflassets/css/gp_product_carousel_advance.css" rel="stylesheet" media="all">


	<!--======= JavaScript =========-->

	<!--======= jQuery =========-->
	<script src="/public/toeflassets/js/jquery-3.2.1.min.js"></script>

	<!--======= Bootstrap =========-->
	<script src="/public/toeflassets/js/bootstrap.min.js"></script>

	<!--======= Touch Swipe =========-->
	<script src="/public/toeflassets/js/jquery.touchSwipe.min.js"></script>

	<!--======= Customize =========-->
	<script src="/public/toeflassets/js/responsive_bootstrap_carousel.js"></script>

	</head>
